<a href="https://colab.research.google.com/github/AbhayNath001/Python_Tutorials/blob/Pandas/Pandas_(Abhay_Nath).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **read_csv**

In [5]:
import pandas as pd

file = pd.read_csv("IRIS.csv")     # read a csv file
print(file)                        # print the dataset

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

# **.index**

In [7]:
import pandas as pd

file = pd.read_csv("IRIS.csv")     # read a csv file
print(file.index)                  # strting index start from 0 and ending index is n+1

RangeIndex(start=0, stop=150, step=1)

# **.columns**

In [9]:
import pandas as pd

file = pd.read_csv("IRIS.csv")     # read a csv file
print(file.columns)                # print the columns name

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

# **.describe()**

In [13]:
import pandas as pd

file = pd.read_csv("IRIS.csv")     # read a csv file
print(file.describe())             # give count value, mean value, standard value, minimum and maximum value, 25%, 50% and 75% value

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

# **.head()**

In [14]:
import pandas as pd

file = pd.read_csv("IRIS.csv")     # read a csv file
print(file.head())                 # give first 5 data

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

# **.head(value)**

In [16]:
import pandas as pd

file = pd.read_csv("IRIS.csv")     # read a csv file
print(file.head(8))                # give first n-1 data    here, 8-1 = 7 so, print the data between 0 to 7

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa

# **.tail()**

In [17]:
import pandas as pd

file = pd.read_csv("IRIS.csv")     # read a csv file
print(file.tail())                 # show last 5 data

     sepal_length  sepal_width  petal_length  petal_width         species
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

# **.tail(value)**

In [19]:
import pandas as pd

file = pd.read_csv("IRIS.csv")     # read a csv file
print(file.tail(3))                # show last n-1 data     here 3-1 = 2 so print last 3 data (index start from 0 so last index is 149)

     sepal_length  sepal_width  petal_length  petal_width         species
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

# **[:n]**

In [23]:
import pandas as pd

file = pd.read_csv("IRIS.csv")     # read a csv file
print(file[:5])                    # show 0 to n-1 data     here, 5-1 = 4 so print the data between 0 to 4
print("---------------------------------------------------------------------------")
print(file[2:8])                   # show 2 to 7 data       here, [x:y] where x = starting index and y = y-1 ending index

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
---------------------------------------------------------------------------
   sepal_length  sepal_width  petal_length  petal_width      species
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa

# **type(file_name)**

In [24]:
import pandas as pd

file = pd.read_csv("IRIS.csv")     # read a csv file
print(type(file))                  # show the type of the data of your file

<class 'pandas.core.frame.DataFrame'>

# **.index.array**

In [27]:
import pandas as pd

file = pd.read_csv("IRIS.csv")     # read a csv file
print(file.index.array)            # get the index number of your file in array format

<PandasArray>
[  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
 ...
 140, 141, 142, 143, 144, 145, 146, 147, 148, 149]
Length: 150, dtype: int64

# **.columns.array**

In [30]:
import pandas as pd

file = pd.read_csv("IRIS.csv")     # read a csv file
print(file.columns.array)          # get the columns name of your file in array format

<PandasArray>
['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
Length: 5, dtype: object

# **.to_numpy()**

In [35]:
import pandas as pd

file = pd.read_csv("IRIS.csv")     # read a csv file
print(file.to_numpy())             # get each of every rows in numpy array format

[[5.1 3.5 1.4 0.2 'Iris-setosa']
 [4.9 3.0 1.4 0.2 'Iris-setosa']
 [4.7 3.2 1.3 0.2 'Iris-setosa']
 [4.6 3.1 1.5 0.2 'Iris-setosa']
 [5.0 3.6 1.4 0.2 'Iris-setosa']
 [5.4 3.9 1.7 0.4 'Iris-setosa']
 [4.6 3.4 1.4 0.3 'Iris-setosa']
 [5.0 3.4 1.5 0.2 'Iris-setosa']
 [4.4 2.9 1.4 0.2 'Iris-setosa']
 [4.9 3.1 1.5 0.1 'Iris-setosa']
 [5.4 3.7 1.5 0.2 'Iris-setosa']
 [4.8 3.4 1.6 0.2 'Iris-setosa']
 [4.8 3.0 1.4 0.1 'Iris-setosa']
 [4.3 3.0 1.1 0.1 'Iris-setosa']
 [5.8 4.0 1.2 0.2 'Iris-setosa']
 [5.7 4.4 1.5 0.4 'Iris-setosa']
 [5.4 3.9 1.3 0.4 'Iris-setosa']
 [5.1 3.5 1.4 0.3 'Iris-setosa']
 [5.7 3.8 1.7 0.3 'Iris-setosa']
 [5.1 3.8 1.5 0.3 'Iris-setosa']
 [5.4 3.4 1.7 0.2 'Iris-setosa']
 [5.1 3.7 1.5 0.4 'Iris-setosa']
 [4.6 3.6 1.0 0.2 'Iris-setosa']
 [5.1 3.3 1.7 0.5 'Iris-setosa']
 [4.8 3.4 1.9 0.2 'Iris-setosa']
 [5.0 3.0 1.6 0.2 'Iris-setosa']
 [5.0 3.4 1.6 0.4 'Iris-setosa']
 [5.2 3.5 1.5 0.2 'Iris-setosa']
 [5.2 3.4 1.4 0.2 'Iris-setosa']
 [4.7 3.2 1.6 0.2 'Iris-setosa']
 [4.8 3.1 1.6 0.2 'Iris-setosa']
 [5.4 3.4 1.5 0.4 'Iris-setosa']
 [5.2 4.1 1.5 0.1 'Iris-setosa']
 [5.5 4.2 1.4 0.2 'Iris-setosa']
 [4.9 3.1 1.5 0.1 'Iris-setosa']
 [5.0 3.2 1.2 0.2 'Iris-setosa']
 [5.5 3.5 1.3 0.2 'Iris-setosa']
 [4.9 3.1 1.5 0.1 'Iris-setosa']
 [4.4 3.0 1.3 0.2 'Iris-setosa']
 [5.1 3.4 1.5 0.2 'Iris-setosa']
 [5.0 3.5 1.3 0.3 'Iris-setosa']
 [4.5 2.3 1.3 0.3 'Iris-setosa']
 [4.4 3.2 1.3 0.2 'Iris-setosa']
 [5.0 3.5 1.6 0.6 'Iris-setosa']
 [5.1 3.8 1.9 0.4 'Iris-setosa']
 [4.8 3.0 1.4 0.3 'Iris-setosa']
 [5.1 3.8 1.6 0.2 'Iris-setosa']
 [4.6 3.2 1.4 0.2 'Iris-setosa']
 [5.3 3.7 1.5 0.2 'Iris-setosa']
 [5.0 3.3 1.4 0.2 'Iris-setosa']
 [7.0 3.2 4.7 1.4 'Iris-versicolor']
 [6.4 3.2 4.5 1.5 'Iris-versicolor']
 [6.9 3.1 4.9 1.5 'Iris-versicolor']
 [5.5 2.3 4.0 1.3 'Iris-versicolor']
 [6.5 2.8 4.6 1.5 'Iris-versicolor']
 [5.7 2.8 4.5 1.3 'Iris-versicolor']
 [6.3 3.3 4.7 1.6 'Iris-versicolor']
 [4.9 2.4 3.3 1.0 'Iris-versicolor']
 [6.6 2.9 4.6 1.3 'Iris-versicolor']
 [5.2 2.7 3.9 1.4 'Iris-versicolor']
 [5.0 2.0 3.5 1.0 'Iris-versicolor']
 [5.9 3.0 4.2 1.5 'Iris-versicolor']
 [6.0 2.2 4.0 1.0 'Iris-versicolor']
 [6.1 2.9 4.7 1.4 'Iris-versicolor']
 [5.6 2.9 3.6 1.3 'Iris-versicolor']
 [6.7 3.1 4.4 1.4 'Iris-versicolor']
 [5.6 3.0 4.5 1.5 'Iris-versicolor']
 [5.8 2.7 4.1 1.0 'Iris-versicolor']
 [6.2 2.2 4.5 1.5 'Iris-versicolor']
 [5.6 2.5 3.9 1.1 'Iris-versicolor']
 [5.9 3.2 4.8 1.8 'Iris-versicolor']
 [6.1 2.8 4.0 1.3 'Iris-versicolor']
 [6.3 2.5 4.9 1.5 'Iris-versicolor']
 [6.1 2.8 4.7 1.2 'Iris-versicolor']
 [6.4 2.9 4.3 1.3 'Iris-versicolor']
 [6.6 3.0 4.4 1.4 'Iris-versicolor']
 [6.8 2.8 4.8 1.4 'Iris-versicolor']
 [6.7 3.0 5.0 1.7 'Iris-versicolor']
 [6.0 2.9 4.5 1.5 'Iris-versicolor']
 [5.7 2.6 3.5 1.0 'Iris-versicolor']
 [5.5 2.4 3.8 1.1 'Iris-versicolor']
 [5.5 2.4 3.7 1.0 'Iris-versicolor']
 [5.8 2.7 3.9 1.2 'Iris-versicolor']
 [6.0 2.7 5.1 1.6 'Iris-versicolor']
 [5.4 3.0 4.5 1.5 'Iris-versicolor']
 [6.0 3.4 4.5 1.6 'Iris-versicolor']
 [6.7 3.1 4.7 1.5 'Iris-versicolor']
 [6.3 2.3 4.4 1.3 'Iris-versicolor']
 [5.6 3.0 4.1 1.3 'Iris-versicolor']
 [5.5 2.5 4.0 1.3 'Iris-versicolor']
 [5.5 2.6 4.4 1.2 'Iris-versicolor']
 [6.1 3.0 4.6 1.4 'Iris-versicolor']
 [5.8 2.6 4.0 1.2 'Iris-versicolor']
 [5.0 2.3 3.3 1.0 'Iris-versicolor']
 [5.6 2.7 4.2 1.3 'Iris-versicolor']
 [5.7 3.0 4.2 1.2 'Iris-versicolor']
 [5.7 2.9 4.2 1.3 'Iris-versicolor']
 [6.2 2.9 4.3 1.3 'Iris-versicolor']
 [5.1 2.5 3.0 1.1 'Iris-versicolor']
 [5.7 2.8 4.1 1.3 'Iris-versicolor']
 [6.3 3.3 6.0 2.5 'Iris-virginica']
 [5.8 2.7 5.1 1.9 'Iris-virginica']
 [7.1 3.0 5.9 2.1 'Iris-virginica']
 [6.3 2.9 5.6 1.8 'Iris-virginica']
 [6.5 3.0 5.8 2.2 'Iris-virginica']
 [7.6 3.0 6.6 2.1 'Iris-virginica']
 [4.9 2.5 4.5 1.7 'Iris-virginica']
 [7.3 2.9 6.3 1.8 'Iris-virginica']
 [6.7 2.5 5.8 1.8 'Iris-virginica']
 [7.2 3.6 6.1 2.5 'Iris-virginica']
 [6.5 3.2 5.1 2.0 'Iris-virginica']
 [6.4 2.7 5.3 1.9 'Iris-virginica']
 [6.8 3.0 5.5 2.1 'Iris-virginica']
 [5.7 2.5 5.0 2.0 'Iris-virginica']
 [5.8 2.8 5.1 2.4 'Iris-virginica']
 [6.4 3.2 5.3 2.3 'Iris-virginica']
 [6.5 3.0 5.5 1.8 'Iris-virginica']
 [7.7 3.8 6.7 2.2 'Iris-virginica']
 [7.7 2.6 6.9 2.3 'Iris-virginica']
 [6.0 2.2 5.0 1.5 'Iris-virginica']
 [6.9 3.2 5.7 2.3 'Iris-virginica']
 [5.6 2.8 4.9 2.0 'Iris-virginica']
 [7.7 2.8 6.7 2.0 'Iris-virginica']
 [6.3 2.7 4.9 1.8 'Iris-virginica']
 [6.7 3.3 5.7 2.1 'Iris-virginica']
 [7.2 3.2 6.0 1.8 'Iris-virginica']
 [6.2 2.8 4.8 1.8 'Iris-virginica']
 [6.1 3.0 4.9 1.8 'Iris-virginica']
 [6.4 2.8 5.6 2.1 'Iris-virginica']
 [7.2 3.0 5.8 1.6 'Iris-virginica']
 [7.4 2.8 6.1 1.9 'Iris-virginica']
 [7.9 3.8 6.4 2.0 'Iris-virginica']
 [6.4 2.8 5.6 2.2 'Iris-virginica']
 [6.3 2.8 5.1 1.5 'Iris-virginica']
 [6.1 2.6 5.6 1.4 'Iris-virginica']
 [7.7 3.0 6.1 2.3 'Iris-virginica']
 [6.3 3.4 5.6 2.4 'Iris-virginica']
 [6.4 3.1 5.5 1.8 'Iris-virginica']
 [6.0 3.0 4.8 1.8 'Iris-virginica']
 [6.9 3.1 5.4 2.1 'Iris-virginica']
 [6.7 3.1 5.6 2.4 'Iris-virginica']
 [6.9 3.1 5.1 2.3 'Iris-virginica']
 [5.8 2.7 5.1 1.9 'Iris-virginica']
 [6.8 3.2 5.9 2.3 'Iris-virginica']
 [6.7 3.3 5.7 2.5 'Iris-virginica']
 [6.7 3.0 5.2 2.3 'Iris-virginica']
 [6.3 2.5 5.0 1.9 'Iris-virginica']
 [6.5 3.0 5.2 2.0 'Iris-virginica']
 [6.2 3.4 5.4 2.3 'Iris-virginica']
 [5.9 3.0 5.1 1.8 'Iris-virginica']]

# **np.asarray(file_name)**

In [36]:
import pandas as pd
import numpy as np

file = pd.read_csv("IRIS.csv")     # read a csv file
file_1 = np.asarray(file)          # get each of every rows in numpy array format
print(file_1)

[[5.1 3.5 1.4 0.2 'Iris-setosa']
 [4.9 3.0 1.4 0.2 'Iris-setosa']
 [4.7 3.2 1.3 0.2 'Iris-setosa']
 [4.6 3.1 1.5 0.2 'Iris-setosa']
 [5.0 3.6 1.4 0.2 'Iris-setosa']
 [5.4 3.9 1.7 0.4 'Iris-setosa']
 [4.6 3.4 1.4 0.3 'Iris-setosa']
 [5.0 3.4 1.5 0.2 'Iris-setosa']
 [4.4 2.9 1.4 0.2 'Iris-setosa']
 [4.9 3.1 1.5 0.1 'Iris-setosa']
 [5.4 3.7 1.5 0.2 'Iris-setosa']
 [4.8 3.4 1.6 0.2 'Iris-setosa']
 [4.8 3.0 1.4 0.1 'Iris-setosa']
 [4.3 3.0 1.1 0.1 'Iris-setosa']
 [5.8 4.0 1.2 0.2 'Iris-setosa']
 [5.7 4.4 1.5 0.4 'Iris-setosa']
 [5.4 3.9 1.3 0.4 'Iris-setosa']
 [5.1 3.5 1.4 0.3 'Iris-setosa']
 [5.7 3.8 1.7 0.3 'Iris-setosa']
 [5.1 3.8 1.5 0.3 'Iris-setosa']
 [5.4 3.4 1.7 0.2 'Iris-setosa']
 [5.1 3.7 1.5 0.4 'Iris-setosa']
 [4.6 3.6 1.0 0.2 'Iris-setosa']
 [5.1 3.3 1.7 0.5 'Iris-setosa']
 [4.8 3.4 1.9 0.2 'Iris-setosa']
 [5.0 3.0 1.6 0.2 'Iris-setosa']
 [5.0 3.4 1.6 0.4 'Iris-setosa']
 [5.2 3.5 1.5 0.2 'Iris-setosa']
 [5.2 3.4 1.4 0.2 'Iris-setosa']
 [4.7 3.2 1.6 0.2 'Iris-setosa']
 [4.8 3.1 1.6 0.2 'Iris-setosa']
 [5.4 3.4 1.5 0.4 'Iris-setosa']
 [5.2 4.1 1.5 0.1 'Iris-setosa']
 [5.5 4.2 1.4 0.2 'Iris-setosa']
 [4.9 3.1 1.5 0.1 'Iris-setosa']
 [5.0 3.2 1.2 0.2 'Iris-setosa']
 [5.5 3.5 1.3 0.2 'Iris-setosa']
 [4.9 3.1 1.5 0.1 'Iris-setosa']
 [4.4 3.0 1.3 0.2 'Iris-setosa']
 [5.1 3.4 1.5 0.2 'Iris-setosa']
 [5.0 3.5 1.3 0.3 'Iris-setosa']
 [4.5 2.3 1.3 0.3 'Iris-setosa']
 [4.4 3.2 1.3 0.2 'Iris-setosa']
 [5.0 3.5 1.6 0.6 'Iris-setosa']
 [5.1 3.8 1.9 0.4 'Iris-setosa']
 [4.8 3.0 1.4 0.3 'Iris-setosa']
 [5.1 3.8 1.6 0.2 'Iris-setosa']
 [4.6 3.2 1.4 0.2 'Iris-setosa']
 [5.3 3.7 1.5 0.2 'Iris-setosa']
 [5.0 3.3 1.4 0.2 'Iris-setosa']
 [7.0 3.2 4.7 1.4 'Iris-versicolor']
 [6.4 3.2 4.5 1.5 'Iris-versicolor']
 [6.9 3.1 4.9 1.5 'Iris-versicolor']
 [5.5 2.3 4.0 1.3 'Iris-versicolor']
 [6.5 2.8 4.6 1.5 'Iris-versicolor']
 [5.7 2.8 4.5 1.3 'Iris-versicolor']
 [6.3 3.3 4.7 1.6 'Iris-versicolor']
 [4.9 2.4 3.3 1.0 'Iris-versicolor']
 [6.6 2.9 4.6 1.3 'Iris-versicolor']
 [5.2 2.7 3.9 1.4 'Iris-versicolor']
 [5.0 2.0 3.5 1.0 'Iris-versicolor']
 [5.9 3.0 4.2 1.5 'Iris-versicolor']
 [6.0 2.2 4.0 1.0 'Iris-versicolor']
 [6.1 2.9 4.7 1.4 'Iris-versicolor']
 [5.6 2.9 3.6 1.3 'Iris-versicolor']
 [6.7 3.1 4.4 1.4 'Iris-versicolor']
 [5.6 3.0 4.5 1.5 'Iris-versicolor']
 [5.8 2.7 4.1 1.0 'Iris-versicolor']
 [6.2 2.2 4.5 1.5 'Iris-versicolor']
 [5.6 2.5 3.9 1.1 'Iris-versicolor']
 [5.9 3.2 4.8 1.8 'Iris-versicolor']
 [6.1 2.8 4.0 1.3 'Iris-versicolor']
 [6.3 2.5 4.9 1.5 'Iris-versicolor']
 [6.1 2.8 4.7 1.2 'Iris-versicolor']
 [6.4 2.9 4.3 1.3 'Iris-versicolor']
 [6.6 3.0 4.4 1.4 'Iris-versicolor']
 [6.8 2.8 4.8 1.4 'Iris-versicolor']
 [6.7 3.0 5.0 1.7 'Iris-versicolor']
 [6.0 2.9 4.5 1.5 'Iris-versicolor']
 [5.7 2.6 3.5 1.0 'Iris-versicolor']
 [5.5 2.4 3.8 1.1 'Iris-versicolor']
 [5.5 2.4 3.7 1.0 'Iris-versicolor']
 [5.8 2.7 3.9 1.2 'Iris-versicolor']
 [6.0 2.7 5.1 1.6 'Iris-versicolor']
 [5.4 3.0 4.5 1.5 'Iris-versicolor']
 [6.0 3.4 4.5 1.6 'Iris-versicolor']
 [6.7 3.1 4.7 1.5 'Iris-versicolor']
 [6.3 2.3 4.4 1.3 'Iris-versicolor']
 [5.6 3.0 4.1 1.3 'Iris-versicolor']
 [5.5 2.5 4.0 1.3 'Iris-versicolor']
 [5.5 2.6 4.4 1.2 'Iris-versicolor']
 [6.1 3.0 4.6 1.4 'Iris-versicolor']
 [5.8 2.6 4.0 1.2 'Iris-versicolor']
 [5.0 2.3 3.3 1.0 'Iris-versicolor']
 [5.6 2.7 4.2 1.3 'Iris-versicolor']
 [5.7 3.0 4.2 1.2 'Iris-versicolor']
 [5.7 2.9 4.2 1.3 'Iris-versicolor']
 [6.2 2.9 4.3 1.3 'Iris-versicolor']
 [5.1 2.5 3.0 1.1 'Iris-versicolor']
 [5.7 2.8 4.1 1.3 'Iris-versicolor']
 [6.3 3.3 6.0 2.5 'Iris-virginica']
 [5.8 2.7 5.1 1.9 'Iris-virginica']
 [7.1 3.0 5.9 2.1 'Iris-virginica']
 [6.3 2.9 5.6 1.8 'Iris-virginica']
 [6.5 3.0 5.8 2.2 'Iris-virginica']
 [7.6 3.0 6.6 2.1 'Iris-virginica']
 [4.9 2.5 4.5 1.7 'Iris-virginica']
 [7.3 2.9 6.3 1.8 'Iris-virginica']
 [6.7 2.5 5.8 1.8 'Iris-virginica']
 [7.2 3.6 6.1 2.5 'Iris-virginica']
 [6.5 3.2 5.1 2.0 'Iris-virginica']
 [6.4 2.7 5.3 1.9 'Iris-virginica']
 [6.8 3.0 5.5 2.1 'Iris-virginica']
 [5.7 2.5 5.0 2.0 'Iris-virginica']
 [5.8 2.8 5.1 2.4 'Iris-virginica']
 [6.4 3.2 5.3 2.3 'Iris-virginica']
 [6.5 3.0 5.5 1.8 'Iris-virginica']
 [7.7 3.8 6.7 2.2 'Iris-virginica']
 [7.7 2.6 6.9 2.3 'Iris-virginica']
 [6.0 2.2 5.0 1.5 'Iris-virginica']
 [6.9 3.2 5.7 2.3 'Iris-virginica']
 [5.6 2.8 4.9 2.0 'Iris-virginica']
 [7.7 2.8 6.7 2.0 'Iris-virginica']
 [6.3 2.7 4.9 1.8 'Iris-virginica']
 [6.7 3.3 5.7 2.1 'Iris-virginica']
 [7.2 3.2 6.0 1.8 'Iris-virginica']
 [6.2 2.8 4.8 1.8 'Iris-virginica']
 [6.1 3.0 4.9 1.8 'Iris-virginica']
 [6.4 2.8 5.6 2.1 'Iris-virginica']
 [7.2 3.0 5.8 1.6 'Iris-virginica']
 [7.4 2.8 6.1 1.9 'Iris-virginica']
 [7.9 3.8 6.4 2.0 'Iris-virginica']
 [6.4 2.8 5.6 2.2 'Iris-virginica']
 [6.3 2.8 5.1 1.5 'Iris-virginica']
 [6.1 2.6 5.6 1.4 'Iris-virginica']
 [7.7 3.0 6.1 2.3 'Iris-virginica']
 [6.3 3.4 5.6 2.4 'Iris-virginica']
 [6.4 3.1 5.5 1.8 'Iris-virginica']
 [6.0 3.0 4.8 1.8 'Iris-virginica']
 [6.9 3.1 5.4 2.1 'Iris-virginica']
 [6.7 3.1 5.6 2.4 'Iris-virginica']
 [6.9 3.1 5.1 2.3 'Iris-virginica']
 [5.8 2.7 5.1 1.9 'Iris-virginica']
 [6.8 3.2 5.9 2.3 'Iris-virginica']
 [6.7 3.3 5.7 2.5 'Iris-virginica']
 [6.7 3.0 5.2 2.3 'Iris-virginica']
 [6.3 2.5 5.0 1.9 'Iris-virginica']
 [6.5 3.0 5.2 2.0 'Iris-virginica']
 [6.2 3.4 5.4 2.3 'Iris-virginica']
 [5.9 3.0 5.1 1.8 'Iris-virginica']]

# **.sort_index(axis=0, ascending=False)**

In [39]:
import pandas as pd

file = pd.read_csv("IRIS.csv")     # read a csv file
print(file.sort_index(axis=0, ascending=False))  #here sort_index target the index, axis=0 refers row, ascending=False refers decending

     sepal_length  sepal_width  petal_length  petal_width         species
149           5.9          3.0           5.1          1.8  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
..            ...          ...           ...          ...             ...
4             5.0          3.6           1.4          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
0             5.1          3.5           1.4          0.2     Iris-setosa

[150 rows x 5 columns]

# **.sort_index(axis=1, ascending=False)**

In [41]:
import pandas as pd

file = pd.read_csv("IRIS.csv")     # read a csv file
print(file.sort_index(axis=1, ascending=False))  #here sort_index target the index, axis=1 refers columns, ascending=False refers decending

            species  sepal_width  sepal_length  petal_width  petal_length
0       Iris-setosa          3.5           5.1          0.2           1.4
1       Iris-setosa          3.0           4.9          0.2           1.4
2       Iris-setosa          3.2           4.7          0.2           1.3
3       Iris-setosa          3.1           4.6          0.2           1.5
4       Iris-setosa          3.6           5.0          0.2           1.4
..              ...          ...           ...          ...           ...
145  Iris-virginica          3.0           6.7          2.3           5.2
146  Iris-virginica          2.5           6.3          1.9           5.0
147  Iris-virginica          3.0           6.5          2.0           5.2
148  Iris-virginica          3.4           6.2          2.3           5.4
149  Iris-virginica          3.0           5.9          1.8           5.1

[150 rows x 5 columns]

# **["column_name"][row_number]="..."**

In [46]:
import pandas as pd

file = pd.read_csv("IRIS.csv")  # read a csv file
file["sepal_width"][2] = "Abhay"  # Modify the value at row 2, column "sepal_width"
print(file)

     sepal_length sepal_width  petal_length  petal_width         species
0             5.1         3.5           1.4          0.2     Iris-setosa
1             4.9         3.0           1.4          0.2     Iris-setosa
2             4.7       Abhay           1.3          0.2     Iris-setosa
3             4.6         3.1           1.5          0.2     Iris-setosa
4             5.0         3.6           1.4          0.2     Iris-setosa
..            ...         ...           ...          ...             ...
145           6.7         3.0           5.2          2.3  Iris-virginica
146           6.3         2.5           5.0          1.9  Iris-virginica
147           6.5         3.0           5.2          2.0  Iris-virginica
148           6.2         3.4           5.4          2.3  Iris-virginica
149           5.9         3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

<ipython-input-46-f371ddc0b634>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  file["sepal_width"][2] = "Abhay"  # Modify the value at row 2, column "sepal_width"

# **.loc[row_number, "column_name"]="..."**

In [48]:
import pandas as pd

file = pd.read_csv("IRIS.csv")  # read a csv file
file.loc[2, "sepal_width"] = "Abhay"  # Modify the value at row 2, column "sepal_width"
print(file)

     sepal_length sepal_width  petal_length  petal_width         species
0             5.1         3.5           1.4          0.2     Iris-setosa
1             4.9         3.0           1.4          0.2     Iris-setosa
2             4.7       Abhay           1.3          0.2     Iris-setosa
3             4.6         3.1           1.5          0.2     Iris-setosa
4             5.0         3.6           1.4          0.2     Iris-setosa
..            ...         ...           ...          ...             ...
145           6.7         3.0           5.2          2.3  Iris-virginica
146           6.3         2.5           5.0          1.9  Iris-virginica
147           6.5         3.0           5.2          2.0  Iris-virginica
148           6.2         3.4           5.4          2.3  Iris-virginica
149           5.9         3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

# **.loc[[row_number],["column_name"]]**

In [54]:
import pandas as pd

file = pd.read_csv("IRIS.csv")  # read a csv file
file_1 = file.loc[[2,3,4,5],["sepal_length","petal_width"]]  #getting data from specific rows and columns
print(file_1)

   sepal_length  petal_width
2           4.7          0.2
3           4.6          0.2
4           5.0          0.2
5           5.4          0.4

# **.loc[:,["column_name"]]**
#**.loc[[row_number],:]**

In [57]:
import pandas as pd

file = pd.read_csv("IRIS.csv")  # read a csv file
file_1 = file.loc[:,["sepal_length","petal_width"]]  #getting data from all rows and in specific columns
print(file_1)
print("-------------------------------------------------------------------------")
file_2 = file.loc[[2,3,4,5],:]  #getting data from specific rows and in all columns
print(file_2)

     sepal_length  petal_width
0             5.1          0.2
1             4.9          0.2
2             4.7          0.2
3             4.6          0.2
4             5.0          0.2
..            ...          ...
145           6.7          2.3
146           6.3          1.9
147           6.5          2.0
148           6.2          2.3
149           5.9          1.8

[150 rows x 2 columns]
-------------------------------------------------------------------------
   sepal_length  sepal_width  petal_length  petal_width      species
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa

# **.iloc[index_number,column_number]**

In [68]:
import pandas as pd

file = pd.read_csv("IRIS.csv")  # read a csv file
file_1 = file.iloc[2,4]  #getting data from index 2(index start from 0 and column name is not count so actual index is 4) and column 4 means species(column number start from 0)
print(file_1)

Iris-setosa

# **.drop("column_name",axis=1)**

In [72]:
import pandas as pd

file = pd.read_csv("IRIS.csv")  # read a csv file
file_1 = file.drop("sepal_width",axis=1)  #remove sepal_width column from the dataset.  Here axis=1 refers the column
print(file_1)

     sepal_length  petal_length  petal_width         species
0             5.1           1.4          0.2     Iris-setosa
1             4.9           1.4          0.2     Iris-setosa
2             4.7           1.3          0.2     Iris-setosa
3             4.6           1.5          0.2     Iris-setosa
4             5.0           1.4          0.2     Iris-setosa
..            ...           ...          ...             ...
145           6.7           5.2          2.3  Iris-virginica
146           6.3           5.0          1.9  Iris-virginica
147           6.5           5.2          2.0  Iris-virginica
148           6.2           5.4          2.3  Iris-virginica
149           5.9           5.1          1.8  Iris-virginica

[150 rows x 4 columns]

# **.drop(row_number,axis=0)**

In [74]:
import pandas as pd

file = pd.read_csv("IRIS.csv")  # read a csv file
file_1 = file.drop(1,axis=0)  #remove row 1 from this dataset.  Here axis=0 refers row
print(file_1)

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
5             5.4          3.9           1.7          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[149 rows x 5 columns]

# **[column_name].replace(np.nan, inplace=True)**

In [87]:
import pandas as pd
import numpy as np

file = pd.read_csv("tested.csv")    #read the file.   I change the file because it have some null values.
file["Cabin"].replace(np.nan, inplace=True)   #replace the null values to NAN on Cabin column.   # Here np.nan assign NAN in empty set
print(file)

     PassengerId   Age  SibSp  Parch Cabin Embarked
0            892  34.5      0      0   NaN        Q
1            893  47.0      1      0   NaN        S
2            894  62.0      0      0   NaN        Q
3            895  27.0      0      0   NaN        S
4            896  22.0      1      1   NaN        S
..           ...   ...    ...    ...   ...      ...
413         1305   NaN      0      0   C78        S
414         1306  39.0      0      0  C105        C
415         1307  38.5      0      0  C105        S
416         1308   NaN      0      0  C105        S
417         1309   NaN      1      1  C105        C

[418 rows x 6 columns]

# **.dropna(axis=0, inplace=True)**

In [102]:
import pandas as pd

file = pd.read_csv("tested.csv")    #read the file.   I change the file because it have some null values.
file.dropna(axis=0, inplace=True)     # remove the rows which have null values.   #Here axis=0 refers rows.
print(file)

     PassengerId   Age  SibSp  Parch            Cabin Embarked
12           904  23.0      1      0              B45        S
14           906  47.0      1      0              E31        S
24           916  48.0      1      3  B57 B59 B63 B66        C
26           918  22.0      0      1              B36        C
28           920  41.0      0      0              A21        S
..           ...   ...    ...    ...              ...      ...
404         1296  43.0      1      0              D40        C
405         1297  20.0      0      0              D38        C
407         1299  50.0      1      1              C80        C
411         1303  37.0      1      0              C78        Q
414         1306  39.0      0      0             C105        C

[87 rows x 6 columns]

# **.dropna(axis=1, inplace=True)**

In [100]:
import pandas as pd

file = pd.read_csv("tested.csv")    # read the file
file.dropna(axis=1, inplace=True)  # drop columns with missing values in place.   #Here axis=1 refers column.
print(file)

     PassengerId  SibSp  Parch Embarked
0            892      0      0        Q
1            893      1      0        S
2            894      0      0        Q
3            895      0      0        S
4            896      1      1        S
..           ...    ...    ...      ...
413         1305      0      0        S
414         1306      0      0        C
415         1307      0      0        S
416         1308      0      0        S
417         1309      1      1        C

[418 rows x 4 columns]

# **.fillna("...", inplace=True)**

In [108]:
import pandas as pd

file = pd.read_csv("tested_1.csv")    # read the file
file.fillna("Abhay", inplace=True)    # fill the null values with Abhay
print(file)

     PassengerId    Age  SibSp  Parch  Cabin Embarked
0            892   34.5      0      0  Abhay        Q
1            893   47.0      1      0  Abhay        S
2            894   62.0      0      0  Abhay        Q
3            895   27.0      0      0  Abhay        S
4            896   22.0      1      1  Abhay        S
..           ...    ...    ...    ...    ...      ...
413         1305  Abhay      0      0  Abhay        S
414         1306   39.0      0      0   C105        C
415         1307   38.5      0      0  Abhay        S
416         1308  Abhay      0      0  Abhay        S
417         1309  Abhay      1      1  Abhay        C

[418 rows x 6 columns]

# **.fillna({"column_name":"...","column_name":"..."}, inplace=True)**

In [111]:
import pandas as pd

file = pd.read_csv("tested_1.csv")    # read the file
file.fillna({"Age":"age null","Cabin":"cabin null"}, inplace=True)  # specifically fill the null values as per different columns
print(file)

     PassengerId       Age  SibSp  Parch       Cabin Embarked
0            892      34.5      0      0  cabin null        Q
1            893      47.0      1      0  cabin null        S
2            894      62.0      0      0  cabin null        Q
3            895      27.0      0      0  cabin null        S
4            896      22.0      1      1  cabin null        S
..           ...       ...    ...    ...         ...      ...
413         1305  age null      0      0  cabin null        S
414         1306      39.0      0      0        C105        C
415         1307      38.5      0      0  cabin null        S
416         1308  age null      0      0  cabin null        S
417         1309  age null      1      1  cabin null        C

[418 rows x 6 columns]

# **.fillna(method="ffill", inplace=True)**

In [113]:
import pandas as pd

file = pd.read_csv("tested_1.csv")    # read the file
file.fillna(method="ffill", inplace=True)  # fill the null values with it's forward vaue
print(file)
# Here in Cabin first values are null that's why first values are fill with NAN but later it get a value in forward then it fill with that.

     PassengerId   Age  SibSp  Parch Cabin Embarked
0            892  34.5      0      0   NaN        Q
1            893  47.0      1      0   NaN        S
2            894  62.0      0      0   NaN        Q
3            895  27.0      0      0   NaN        S
4            896  22.0      1      1   NaN        S
..           ...   ...    ...    ...   ...      ...
413         1305  28.0      0      0   C78        S
414         1306  39.0      0      0  C105        C
415         1307  38.5      0      0  C105        S
416         1308  38.5      0      0  C105        S
417         1309  38.5      1      1  C105        C

[418 rows x 6 columns]

# **.fillna(method="bfill", inplace=True)**

In [115]:
import pandas as pd

file = pd.read_csv("tested_1.csv")    # read the file
file.fillna(method="bfill", inplace=True)  # fill the null values with it's backward vaue
print(file)
# Here in Cabin and Age last values are null that's why last values are fill with NAN.

     PassengerId   Age  SibSp  Parch Cabin Embarked
0            892  34.5      0      0   B45        Q
1            893  47.0      1      0   B45        S
2            894  62.0      0      0   B45        Q
3            895  27.0      0      0   B45        S
4            896  22.0      1      1   B45        S
..           ...   ...    ...    ...   ...      ...
413         1305  39.0      0      0  C105        S
414         1306  39.0      0      0  C105        C
415         1307  38.5      0      0   NaN        S
416         1308   NaN      0      0   NaN        S
417         1309   NaN      1      1   NaN        C

[418 rows x 6 columns]

# **.replace(to_replace="...", value="...", inplace=True)**

In [122]:
import pandas as pd

file = pd.read_csv("IRIS.csv")    # read the file
file.replace(to_replace=1.4, value=100, inplace=True)    # replace 1.4 to 100
print(file)

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5         100.0          0.2     Iris-setosa
1             4.9          3.0         100.0          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6         100.0          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

# **.replace("...", method="ffill", inplace=True)**

In [123]:
import pandas as pd

file = pd.read_csv("IRIS.csv")    # read the file
file.replace(1.4, method="ffill", inplace=True)    # replace 1.4 to it's forward value
print(file)

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.5          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

# **.interpolate()**

In [126]:
import pandas as pd

file = pd.read_csv("tested_1.csv")    # read the file
file.interpolate(inplace=True)    # observe the algorithm of data and fill empty values own (just only numericals)
print(file)

     PassengerId   Age  SibSp  Parch Cabin Embarked
0            892  34.5      0      0   NaN        Q
1            893  47.0      1      0   NaN        S
2            894  62.0      0      0   NaN        Q
3            895  27.0      0      0   NaN        S
4            896  22.0      1      1   NaN        S
..           ...   ...    ...    ...   ...      ...
413         1305  33.5      0      0   NaN        S
414         1306  39.0      0      0  C105        C
415         1307  38.5      0      0   NaN        S
416         1308  38.5      0      0   NaN        S
417         1309  38.5      1      1   NaN        C

[418 rows x 6 columns]